@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-grey);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
    font-size: 15px;
    margin: 1.25rem;
}

img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.container {
    width: 340px;
    height: 520px;
    background-color: var(--white);
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
    text-align: center;
    margin-bottom: 2.6rem;
}

h2 {
    margin: 24px 14px;
    color: var(--dark-blue);
}

p {
    color: var(--grayish-blue);
    font-size: 15px;
    margin: 24px 20px;
}

.attribution {
    font-size: 12px;
}